*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    background:
    linear-gradient(
        135deg,
        #0f5132 0%,
        #198754 50%,
        #2e8b57 100%
    );
}

.login-container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.login-card{
    width:400px;

    background:rgba(255,255,255,0.12);
    backdrop-filter:blur(15px);
    -webkit-backdrop-filter:blur(15px);

    border:1px solid rgba(255,255,255,0.18);

    padding:40px;
    border-radius:25px;

    text-align:center;

    box-shadow:
        0 15px 35px rgba(0,0,0,.25);
}

.logo{
    font-size:60px;
    margin-bottom:15px;
}

.login-card h1{
    color:#ffffff;
    font-size:36px;
    margin-bottom:10px;
    font-weight:700;
}

.login-card p{
    color:rgba(255,255,255,.85);
    margin-bottom:25px;
    font-size:15px;
}

.login-card input{
    width:100%;
    padding:15px;

    border:none;
    border-radius:12px;

    margin-bottom:20px;

    font-size:16px;

    background:rgba(255,255,255,.95);
    color:#0f5132;
}

.login-card input::placeholder{
    color:#6b7280;
}

.login-card input:focus{
    outline:none;

    box-shadow:
        0 0 0 3px rgba(212,175,55,.35);
}

.login-card button{
    width:100%;
    padding:15px;

    border:none;
    border-radius:12px;

    background:#d4af37;
    color:white;

    font-size:16px;
    font-weight:700;

    cursor:pointer;
    transition:all .3s ease;
}

.login-card button:hover{
    background:#c59d22;

    transform:translateY(-3px);

    box-shadow:
        0 10px 20px rgba(0,0,0,.18);
}

.login-card button:active{
    transform:translateY(0);
}