{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Ticket</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>

<div class="container1">

    <!-- FORM -->

    <div class="form-box">

        <h1>MSR FORMS</h1>

        <form method="POST" enctype="multipart/form-data">

            {% csrf_token %}

            <input 
                type="text" 
                name="title" 
                placeholder="Title"
            >

            <textarea 
                name="message" 
                placeholder="Message"
            ></textarea>

            <input 
                type="file" 
                name="attachment"
            >

            <div>
                <label>Section</label>

            <select name="section"
                    class="border p-2 rounded w-full"
                    hx-get="{% url 'get_concerns' %}"
                    hx-trigger="change"
                    hx-target="#concern_type"
                    hx-swap="innerHTML"
                    hx-include="[name='section']">

            <option value="">Select Section</option>

            {% for section in sections %}
            <option value="{{ section.id }}">
            {{ section.name }}
            </option>
            {% endfor %}
            </select>
            </div>

            <br></br>

            <div>
            
            <label>Concerns Type</label>

            <select id="concern_type"
                    name="concern_type"
                    class="border p-2 rounded w-full">
                    
            <option value="">
            Select Section First
            </option>
            </select>
            </div>
            <br></br>
            <button type="submit">
                Send
            </button>
        
        </form>
        </div>

    <!-- TICKET SECTION -->

    <div class="ticket-wrapper">

        <h2 class="ticket-title">
            Your Ticket List
        </h2>

        <div class="ticket-list">

            {% for ticket in tickets %}

            <div class="ticket-card" data-id="{{ticket.id}}">

                <h3>{{ ticket.title }}</h3>

                <p>{{ ticket.message }}</p>

                <span class="status">
                    {{ ticket.status }}
                </span>

                <div class="ticket-date">
                    {{ ticket.created_at }}
                </div>

                {% if ticket.attachment %}

                <a 
                    href="{{ ticket.attachment.url }}"
                    class="download-btn"
                >
                    Download Attachment
                </a>

                {% endif %}

            </div>

            {% endfor %}

        </div>

    </div>

</div>
<script src="{% static 'css/js/ws.js' %}?v=3"></script>
</script>
</body>
</html>