{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Ticket</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="manifest" href="{% static 'employee-manifest.json' %}">
    <meta name="theme-color" content="#008000">


</head>

<body>
<!-- TOP HEADER -->
<div class="topbar">

    <div class="logo">
        🍜 <span>MSR FORMS</span>
    </div>

    <div class="user-area">
        <span class="welcome">
            Welcome, <strong>{{ request.user.username }}</strong>
        </span>

        <form action="{% url 'logout' %}" method="POST" class="logout-form">
            {% csrf_token %}
            <button type="submit" class="logout-btn">
                Logout
            </button>
        </form>
    </div>

</div>
<div class="container1">

    <!-- FORM -->

    <div class="form-box">

        <form id="ticketForm" method="POST" enctype="multipart/form-data">

            {% csrf_token %}



            <textarea 
                name="message" 
                placeholder="Message"
            ></textarea>

            <input type="file" name="files" multiple>

            <div>
                <label>Department</label>

            <select name="department"
                    class="border p-2 rounded w-full"
                    required
                    hx-get="/get-concerns/"
                    hx-trigger="change"
                    hx-target="#concern_type"
                    hx-swap="innerHTML"
                    hx-include="[name='department']">

            <option value="" selected disabled>Select Department</option>

            {% for department in departments %}
            <option value="{{ department.id }}">
            {{ department.name }}
            </option>
            {% endfor %}
            </select>
            </div>

            <br></br>

            <div>
            
            <label>Concerns Type</label>

            <select id="concern_type"
                    name="concern_type"
                    class="border p-2 rounded w-full"
                    required>
                    
            <option value="" selected disabled>
            Select Department First
            </option>
            </select>
            </div>
            <br></br>
            <button type="submit" id="submitBtn">
                Send
            </button>
        
        </form>
        </div>


    <div class="ticket-wrapper">

        <h2 class="ticket-title">
            Your Ticket List
        </h2>

        <div class="ticket-list">

            {% for ticket in tickets %}

            <div class="ticket-card department-{{ ticket.department.name|slugify }}" data-ticket-id="{{ ticket.id }}">

            <span class="dept-badge department-badge-{{ ticket.department.name|slugify }}">
                {{ ticket.department.name }}
             </span>

                <h3>{{ ticket.outlet }}</h3>

                <p>{{ ticket.message }}</p>

                <select class="ticket-select status" data-current-status="{{ ticket.status }}"
                onchange="openReasonModal('{{ ticket.id }}', this)">
    
                <option value="pending" {% if ticket.status == "pending" %}selected{% endif %}>
                Pending
                </option>

                <option value="progress" disabled
                {% if ticket.status == "progress" %}selected{% endif %}>
                In progress
                </option>
                

                <option value="resolved" {% if ticket.status == "resolved" %}selected{% endif %}>
                Resolved
                </option>
                </select>
                <br>
   

    
                <select class="ticket-select priority"
                        onchange="updatePriority('{{ ticket.id}}', this.value)">

                    <option value="Low"
                        {% if ticket.priority == "Low" %}selected{% endif %}>
                        Low
                    </option>

                    <option value="Medium"
                        {% if ticket.priority == "Medium" %}selected{% endif %}>
                        In need
                    </option>

                    <option value="High"
                        {% if ticket.priority == "High" %}selected{% endif %}>
                        Urgent
                    </option>
                </select>
                <br>
                
                <div class="schedule">
                <strong>Scheduled Date:</strong>
                <span class="scheduled-date">
                {{ ticket.scheduled_date}}
                </span>
                <br>

                <strong>Scheduled Time:</strong>
                <span class="scheduled-time">
                {{ ticket.scheduled_time}}
                </span>
                </div>

                <div class="admin-note">
                <strong >Admin Notes:</strong>
                <span class="admin-note-text">
                {{ ticket.admin_note}}
                </span>
                </div>

                <div class="assigned">
                <strong>Assigned To:</strong>
                <span class="assigned-to">
                {% if ticket.assigned_to %}
                {{ ticket.assigned_to.full_name }}
                {% else %}
                     -
                {% endif %}
                </span>
                </div>
            
                <strong>Age of concern:</strong>
                <span>{{ ticket.ticket_age }}</span>

                <p class="overdue-status">...</p>

                <div class="ticket-date">
                    {{ ticket.created_at }}
                </div>

                <p>
                <strong>Created by:</strong>
                {% if ticket.created_by %}
                    {{ ticket.created_by.username }}
                    <span class="badge">
                        {% if ticket.created_by.is_staff %}
                            Admin
                        {% else %}
                            Employee
                        {% endif %}
                    </span>
                        {% else %}
                            Unknown
                        {% endif %}
                </p>

                {% if ticket.attachment %}

                <a 
                    href="{{ ticket.attachment.url }}"
                    class="download-btn"
                >
                    Download Attachment
                </a>

                {% endif %}

            </div>

            {% endfor %}

        </div>

    </div>

</div>
<script>
let selectedTicketId = null;
let selectedStatus = null;
let selectedDropdown = null;
let previousStatus = null;

function openReasonModal(ticketId, dropdown){

    selectedTicketId = ticketId;
    selectedDropdown = dropdown;

    selectedStatus = dropdown.value;

    previousStatus =
        dropdown.getAttribute("data-current-status");

    document.getElementById("statusReason").value = "";

    document.getElementById("reasonModal").style.display = "block";
}

function closeReasonModal() {
    document.getElementById("reasonModal").style.display = "none";

    if (selectedDropdown) {
        selectedDropdown.value = previousStatus;
    }
}

function submitStatusReason(){

    const reason =
        document.getElementById("statusReason").value.trim();

    if (!reason) {
        alert("Please enter a reason");
        return;
    }

    updateStatus(
        selectedTicketId,
        selectedStatus,
        reason
    );

    document.getElementById("reasonModal").style.display = "none";
}
</script>
<script>
document.addEventListener("DOMContentLoaded", function () {
    const form = document.getElementById("ticketForm");
    const button = document.getElementById("submitBtn");

    let submitting = false;

    form.addEventListener("submit", function (e) {
        if (submitting) {
            e.preventDefault();
            return;
        }

        submitting = true;
        button.disabled = true;
        button.innerHTML = `<span class="spinner"></span>Sending...`;
    });
});
</script>
<script src="{% static 'js/ws.js' %}?v=3"></script>

<div id="reasonModal" class="modal">

    <div class="modal-content">

        <h3>Status Update</h3>

        <textarea
            id="statusReason"
            placeholder="Enter reason..."
            rows="4">
        </textarea>

        <div class="modal-buttons">
            <button onclick="submitStatusReason()">
                Submit
            </button>

            <button onclick="closeReasonModal()">
                Cancel
            </button>
        </div>
    </div>
</div>
<script src="{% static 'js/sw_update.js' %}"></script>
<script type="module" src="{% static 'js/firebase.js' %}"></script>
</body>
</html>