{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Ticket</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
<!-- TOP HEADER -->
<div class="topbar">

    <div class="logo">
        🍜 <span>MSR FORMS</span>
    </div>

    <div class="user-area">
        <span class="welcome">
            Welcome, <strong>{{ request.user.username }}</strong>
        </span>

        <form action="{% url 'logout' %}" method="POST" class="logout-form">
            {% csrf_token %}
            <button type="submit" class="logout-btn">
                Logout
            </button>
        </form>
    </div>

</div>
<div class="container1">

    <!-- FORM -->

    <div class="form-box">

        <form method="POST" enctype="multipart/form-data">

            {% csrf_token %}



            <textarea 
                name="message" 
                placeholder="Message"
            ></textarea>

            <input type="file" name="files" multiple>

            <div>
                <label>Section</label>

            <select name="section"
                    class="border p-2 rounded w-full"
                    hx-get="/get-concerns/"
                    hx-trigger="change"
                    hx-target="#concern_type"
                    hx-swap="innerHTML"
                    hx-include="[name='section']">

            <option value="">Select Section</option>

            {% for section in sections %}
            <option value="{{ section.id }}">
            {{ section.name }}
            </option>
            {% endfor %}
            </select>
            </div>

            <br></br>

            <div>
            
            <label>Concerns Type</label>

            <select id="concern_type"
                    name="concern_type"
                    class="border p-2 rounded w-full">
                    
            <option value="">
            Select Section First
            </option>
            </select>
            </div>
            <br></br>
            <button type="submit">
                Send
            </button>
        
        </form>
        </div>

    <!-- TICKET SECTION -->

    <div class="ticket-wrapper">

        <h2 class="ticket-title">
            Your Ticket List
        </h2>

        <div class="ticket-list">

            {% for ticket in tickets %}

            <div class="ticket-card" data-ticket-id="{{ticket.id}}">

                <h3>{{ ticket.outlet }}</h3>

                <p>{{ ticket.message }}</p>

                <select class="status"
                onchange="updateStatus('{{ ticket.id }}', this.value)">
    
                <option value="pending" {% if ticket.status == "pending" %}selected{% endif %}>
                Pending
                </option>

                <option value="progress"
                {% if ticket.status == "progress" %}selected{% endif %}>
                In progress
                </option>
                

                <option value="resolved" {% if ticket.status == "resolved" %}selected{% endif %}>
                Resolved
                </option>
                </select>
                <br></br>
                
                <div class="schedule">
                <strong>Scheduled Date:</strong>
                <span class="scheduled-date">
                {{ ticket.scheduled_date}}
                </span>
                <br>

                <strong>Scheduled Time:</strong>
                <span class="scheduled-time">
                {{ ticket.scheduled_time}}
                </span>
                </div>

                <div class="admin-note">
                <strong >Assigned:</strong>
                <span class="admin-note-text">
                {{ ticket.admin_note}}
                </span>
                </div>

                <div class="deadline">
                    <strong>Deadline:</strong>
                    <span class="deadline-text">
                        {{ ticket.deadline|date:"Y-m-d H:i" }}
                    </span>
                </div>

                <p class="overdue-status">Checking...</p>

                <div class="ticket-date">
                    {{ ticket.created_at }}
                </div>

                {% if ticket.attachment %}

                <a 
                    href="{{ ticket.attachment.url }}"
                    class="download-btn"
                >
                    Download Attachment
                </a>

                {% endif %}

            </div>

            {% endfor %}

        </div>

    </div>

</div>
<script src="{% static 'css/js/ws.js' %}?v=3"></script>
</body>
</html>