{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MSR Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>

<div class="login-container">

    <div class="login-card">

        <div class="logo">🍜</div>
            <h1>PhoHoa-Mythai</h1>

        <p>Please enter your outlet name</p>

        <form method="POST">
            {% csrf_token %}

            <input type="text" name="user" placeholder="Enter Outlet" required>

            <button type="submit"> Login </button>
        </form>
    </div>
</div>
</body>
</html>